 .product-list {
  padding: 20px;
  text-align: center;
}


.product-list h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #A488E0; /* Lila rubrik för Hello Kitty och Kuromi-temat */
  margin-bottom: 30px;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-list li {
  background-color: #3C3C3C; /* Mörk bakgrund för korten */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.product-list li:hover {
  transform: scale(1.05); /* Gör kortet större på hover */
}