.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
   color: #A488E0; 
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

p {
  font-size: 1.2rem;
  color: #333; 
  max-width: 600px;
  margin: 10px 0; 
}
