.navbar {
  background-color: #9b7ebd;
  padding: 20px 20px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #e7b5c0; /* Light Pink */
  font-weight: bold;
}
.navbar .hundar {
  margin-left: auto;
}
a:hover {
  color: #ffc0cb;
  transition: color 0.3s ease;
}
